extends layout

block content
  header.bar.bar-nav
    h1.title Dodge
  div.content
    p.lead.content-padded Event-based traffic avoidance.
    div#map.content-padded

    div.segmented-control.content-padded
      a.control-item.active(href="#today") Today
      //- a.control-item(href="#tomorrow") Tomorrow
      
    div.card#events
      //- span#today.control-content.active
      ul.table-view#today.control-content.active
        li.table-view-cell
          p Valentine's Day

      //- ul.table-view#tomorrow.control-content
      //-   li.table-view-cell
      //-     p Fireworks Show
      //-   li.table-view-cell
      //-     p Chinese New Year's Festival

      //- span#tomorrow.control-content
      //- p#tomorrow.control-content 


      //- ul.table-view
      //-   li.table-view-cell
      //-   li.table-view-cell

