extends layout

block content
  header.bar.bar-nav
        h1.title Dodge
  div.content
    p.content-padded Event-based traffic avoidance.
    div#map.content-padded
    div.card
        ul.table-view
          li.table-view-cell
            a.push-right(href="#")
              strong Ratchet docs
          li.table-view-cell
            a.push-right(href="#")
              strong Ratchet docs
          li.table-view-cell
            a.push-right(href="#")
              strong Ratchet docs
          li.table-view-cell
            a.push-right(href="#")
              strong Ratchet docs
