@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,900italic);

html, body {
        /*height: 100%;*/
        /*width: 100%;*/
        /*margin: 0;*/
        /*padding: 0;*/
      }
      body {
        /*background-color: #FFF;*/
        overflow: hidden;
        /*font-family: "Trebuchet MS";*/
        font-family: "Roboto", serif;
      }

.lead {
  text-align: center;
}

.title {
  font-size: 1.8em;
}

#map {
  /*height: 180px;*/
}

#map .titlePane {
  height: 2em;
}

#map .title {
  /*TODO: check base font size*/
  font-size: 12px;
  line-height: 2em;
  color: #FFF;
}
